<h4>
  <%= attachment_image_tag(@user, :profile_image, :fill, 150, 150, format: "jpg", fallback: 'default.gif', class:"dash-picture") %>
  Welcome: <%=@user.name%>
</h4>

<div class="row">
  <div class='pending-events-display col-md-5 col-md-offset-1'>
    <h3 class='pending-events-header'>Pending Created Events</h3>
    <ul class='pending-events-display-list'>
      <% @events.includes(:campus).includes(:room).each do |event| %>
        <div class='row'>
          <li class='pending-events-display-list-item'>
            <div class='col-xs-4'>
              <%= link_to event.name.titleize, campus_room_event_path(event.campus, event.campus.room_id, event) %>
            </div>
            <div class='col-xs-4 agenda-text'>
              <%= event.agenda %>
            </div>
            <div class='time-display col-xs-4'>
              <%= event.formatted_start_time %> until <%= event.end_time %>
            </div>
          </li>
        </div>
      <% end %>
    </ul>
  </div>

  <div class='pending-events-display col-md-5 col-md-offset-1'>
    <h3 class='pending-events-header'>Pending Event Invitations</h3>
    <ul class='pending-events-display-list'>
      <% @user_pending_invites.each do |pend| %>
        <%= render partial: "shared/event_invite", locals: {invite: pend} %>
      <% end %>
    </ul>
  </div>

  <div class='pending-events-display col-md-5 col-md-offset-1'>
    <h3 class='pending-events-header'>Completed events</h3>
    <ul class='pending-events-display-list'>
      <% @finished.each do |finish| %>
      <div class='row'>
        <li class='pending-events-display-list-item'>
          <div class='col-xs-4'>
            <%= finish.name.titleize %>
          </div>
          <div class='col-xs-4 agenda-text'>
             <%= finish.agenda %>
           </div> <div class='time-display col-xs-4'>
             <%= finish.formatted_start_time %> until <%= finish.end_time %>
           </div>
         </li>
      </div>
      <% end %>
    <ul class='pending-events-display-list'>
    </ul>
  </div>
</div>
