<h4>
  <%= attachment_image_tag(@user, :profile_image, :fill, 150, 150, format: "jpg", fallback: 'default.gif', class:"dash-picture") %>
  Welcome: <%=@user.name%>
</h4>

<div class="row">
  <div class='pending-events-display col-md-5 col-md-offset-1'>
    <h3 class='pending-events-header'>Pending Created Events</h3>
    <ul class='pending-events-display-list'>
      <% if @events.empty? %>
        <li>You have not created any events</li>
      <% else %>
        <% @events.each do |event| %>
          <div class='row'>
            <li class='pending-events-display-list-item'>
              <div class='col-xs-4'>
                <%= event.name.titleize %>
              </div>
              <div class='col-xs-4 agenda-text'>
                <%= event.agenda %>
              </div>
              <div class='time-display col-xs-4'>
                <%= event.formatted_start_time %> until <%= event.end_time %>
              </div>
            </li>
          </div>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class='pending-events-display col-md-5 col-md-offset-1'>
    <h3 class='pending-events-header'>Pending Event Invitations</h3>
    <ul class='pending-events-display-list'>
      <% if @user_pending_invites.empty? %>
        <li>You have no pending events</li>
      <% else %>
        <% @user_pending_invites.each do |pend| %>
          <%= render partial: "shared/event_invite", locals: {invite: pend} %>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class='pending-events-display col-md-5 col-md-offset-1'>
    <h3 class='pending-events-header'>Completed events</h3>
    <ul class='pending-events-display-list'>
      <% if @finished.empty? %>
        <li>You have no events that have been completed</li>
      <% else %>
        <% @finished.each do |finish| %>
        <div class='row'>
          <li class='pending-events-display-list-item'>
            <div class='col-xs-4'>
              <%= finish.name.titleize %>
            </div>
            <div class='col-xs-4 agenda-text'>
               <%= finish.agenda %>
             </div> <div class='time-display col-xs-4'>
               <%= finish.formatted_start_time %> until <%= finish.end_time %>
             </div>
           </li>
        </div>
        <% end %>
      <% end %>
    <ul class='pending-events-display-list'>
    </ul>
  </div>
</div>
