<h4> <%= image_tag attachment_url(@user, :profile_image, :fill, 300, 300, format: "jpg") %>
 Welcome: <%=@user.name%>  <img class='dash-picture' src='<%=@user.profile_pic%>'/></h4>

<div class="row">
  <div class='pending-events-display col-md-5 col-md-offset-1'>
    <h3 class='pending-events-header'>Pending Created Events</h3>
    <ul class='pending-events-display-list'>
      <% @events.each do |event| %>
        <div class='row'>
          <li class='pending-events-display-list-item'>
            <div class='col-xs-4'>
              <%= event.name.titleize %>
            </div>
            <div class='col-xs-4 agenda-text'>
              <%= event.agenda %>
            </div>
            <div class='time-display col-xs-4'>
              <%= event.formatted_start_time %> for <%= event.duration_display %>
            </div>
          </li>
        </div>
      <% end %>
    </ul>
  </div>

  <div class='pending-events-display col-md-5 col-md-offset-1'>
    <h3 class='pending-events-header'>Pending Event Invitations</h3>
    <ul class='pending-events-display-list'>
      <% @user_pending_invites.each do |pend| %>
        <div class='row'>
          <li class='pending-events-display-list-item'>
            <div class='col-xs-3'>
              <%= pend.event.name.titleize %>
            </div>
            <div class='col-xs-3 agenda-text'>
              <%= pend.event.agenda %>
            </div>
            <div class='time-display col-xs-3'>
              <%= pend.event.formatted_start_time %> for <%= pend.event.duration_display %>
            </div>
            <div>
              <%= link_to 'Approve', invite_path(pend, status: Invite::ACCEPTED), :class => "btn btn-default", :method => :patch %>
              <%= link_to 'Deny', invite_path(pend, status: Invite::REJECTED), :class => "btn btn-default", :method => :patch %>
              <%= link_to 'Remote', invite_path(pend, status: Invite::REMOTE), :class => "btn btn-default", :method => :patch %>
            </div>
          </li>
        </div>
      <% end %>
    </ul>
  </div>

  <div class='pending-events-display col-md-5 col-md-offset-1'>
    <h3 class='pending-events-header'>Completed events</h3>
    <ul class='pending-events-display-list'>
      <% @finished.each do |finish| %>
      <div class='row'>
        <li class='pending-events-display-list-item'>
          <div class='col-xs-4'>
            <%= finish.name.titleize %>
          </div>
          <div class='col-xs-4 agenda-text'>
             <%= finish.agenda %>
           </div> <div class='time-display col-xs-4'>
             <%= finish.formatted_start_time %> for <%= finish.duration_display %>
           </div>
         </li>
      </div>
      <% end %>
    <ul class='pending-events-display-list'>
    </ul>
  </div>
</div>
