
  <h4>
  <%= attachment_image_tag(@user, :profile_image, :fill, 150, 150, format: "jpg", fallback: 'default.gif', class:"dash-picture") %>
    Welcome: <%=@user.name%>
    <br>
    <% if @user == current_user %>
      <div style="width: 150px; text-align:center;">
        <%= link_to "Edit Profile", edit_user_path(@user) %>
      </div>
    <% end %>
  </h4>


<% if @user.admin? == true %>
  <div class="row">
    <div>
      <div class='col-sm-8 col-sm-offset-2'>
        <h3 class="campus-header">Send an invite to join your company:
          <%= render 'create_invite' %>
        </h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='pending-events-display col-md-5 col-md-offset-1'>
      <h3 class='pending-events-header'>Click a company to edit it:</h3>
      <ul class='pending-events-display-list'>
        <li class='pending-events-display-list-item'>
          <%= link_to "#{@company.name}", edit_company_path(@company) %>
        </li>
      </ul>
    </div>
  </div>  
<% end %>

<div class="row">
  <div class='pending-events-display col-md-5 col-md-offset-1'>
    <h3 class='pending-events-header'>My Created Events</h3>
    <ul class='pending-events-display-list'>
      <% if @events.empty? %>
        <li>You have not created any events</li>
      <% else %>
        <% @events.each do |event| %>
          <div class='row'>
            <li class='pending-events-display-list-item'>
              <div class='col-xs-4'>
                <%= event.name.titleize %>
              </div>
              <div class='col-xs-4 agenda-text'>
                <%= event.agenda %>
              </div>
              <div class='time-display col-xs-4'>
                <%= event.formatted_start_time %> until <%= event.end_time %>
              </div>
            </li>
          </div>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class='pending-events-display col-md-5 col-md-offset-1'>
    <h3 class='pending-events-header'>My Upcoming Events</h3>
    <ul class='pending-events-display-list'>
      <% if @user_pending_invites.empty? %>
        <li>You have no pending events</li>
      <% else %>
        <% @user_accepted_invites.each do |pend| %>
          <%= render partial: "shared/event_invite", locals: {invite: pend} %>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class='pending-events-display col-md-5 col-md-offset-1'>
    <h3 class='pending-events-header'>My Pending Invites</h3>
    <ul class='pending-events-display-list'>
      <% if @user_pending_invites.empty? %>
        <li>You have no pending invites</li>
      <% else %>
        <% @user_pending_invites.each do |pend| %>
          <%= render partial: "shared/event_invite", locals: {invite: pend} %>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class='pending-events-display col-md-5 col-md-offset-1'>
    <h3 class='pending-events-header'>Completed events</h3>
    <ul class='pending-events-display-list'>
      <% if @finished.empty? %>
        <li>You have no events that have been completed</li>
      <% else %>
        <% @finished.each do |finish| %>
        <div class='row'>
          <li class='pending-events-display-list-item'>
            <div class='col-xs-4'>
              <%= finish.name.titleize %>
            </div>
            <div class='col-xs-4 agenda-text'>
               <%= finish.agenda %>
             </div> <div class='time-display col-xs-4'>
               <%= finish.formatted_start_time %> until <%= finish.end_time %>
             </div>
           </li>
        </div>
        <% end %>
      <% end %>
    <ul class='pending-events-display-list'>
    </ul>
  </div>
</div>
