<div class='row bottom-border'>
  <li class='pending-events-display-list-item'>
    <div class='col-xs-3 col-sm-4 col-xs-offset-1'>
      <%= invite.event.name.titleize %> <br />
      <%= invite.room.name %>
    </div>

    <div class='time-display col-xs-4 col-sm-7'>
      <%= invite.event.formatted_start_time %> until <%= invite.event.end_time %>
    </div>
    <% if invite.status != Invite::ACCEPTED %>
      <div class='col-xs-4 col-sm-6 col-sm-offset-6'>
        <%= link_to 'Approve', invite_path(invite, invite: {status: Invite::ACCEPTED}), :class => "btn btn-default", :method => :patch %>
        <%= link_to 'Deny', invite_path(invite, invite: {status: Invite::REJECTED}), :class => "btn btn-default", :method => :patch %>
        <% if invite.event.allow_remote %>
          <%= link_to 'Remote', invite_path(invite, invite: {status: Invite::REMOTE}), :class => "btn btn-default", :method => :patch %>
        <% end %>
      </div>
    <% end %>
  </li>
</div>
