<div class='row better-row sm-bottom-border'>
  <li class='pending-events-display-list-item'>

    <div class='col-xs-3 col-sm-4 col-xs-offset-1'>
      <%= link_to invite.event.name.titleize, campus_room_event_path(current_user.campus, invite.room.id, invite.event.id) %>
    </div>

    <div class='time-display col-xs-4 col-sm-7'>
      <%= invite.event.formatted_start_time %> until <%= invite.event.end_time %>
    </div>
</div>
<div class='better-row bottom-border'>
    <div class='col-xs-4 col-sm-4 col-xs-offset-1'>
      <%= link_to invite.room.name, campus_room_path(current_user.campus, invite.room.id), class:'room-name' %>
    </div>
    <% if invite.status == Invite::PENDING %>
      <div class='col-xs-7 col-sm-7'>
        <%= link_to 'Approve', invite_path(invite, invite: {status: Invite::ACCEPTED}), :class => "btn btn-default", :method => :patch %>
        <%= link_to 'Deny', invite_path(invite, invite: {status: Invite::REJECTED}), :class => "btn btn-default", :method => :patch %>
        <% if invite.event.allow_remote %>
          <%= link_to 'Remote', invite_path(invite, invite: {status: Invite::REMOTE}), :class => "btn btn-default", :method => :patch %>
        <% end %>
      </div>
    <% else %>
      <div class='col-xs-7 col-sm-7 room-name'>
        <%= invite.status %>
      </div>
    <% end %>
  </li>
</div>
