<div class='col-md-offset-2 col-md-6'>
  <%= form_for(@event) do |f| %>

  <div class='row'>
    <div class='col-md-12'>
      <%= f.label :name %><br>
      <%= f.number_field :name %>
    </div>
  </div>
    <div class="row">
      <div class='col-md-12'>
        <%= f.label :start_time %><br>
        <%= f.text_field :start_time %>
      </div>
      </div>
    </div>
    <div class="row">
      <div class='col-md-12'>
        <%= f.label :description %><br>
        <%= f.text_field :description %>
        <div>
    </div>
    <div class="row">
      <div class='col-md-12'>
        <%= f.label :agenda %><br>
        <%= f.text_field :agenda %>
      </div>
    </div>
    <div class="row">
      <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
    </div>

  <% end %>
</div>
