<h1>Listing Events</h1>
<div class="table-responsive"></div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Start time</th>
        <th>Duration</th>
        <th>Description</th>
        <th>Room</th>
        <th>User</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.start_time %></td>
        <td><%= event.description %></td>
        <td><%= event.room %></td>
        <td><%= event.user %></td>
        <td><%= link_to 'Show', campus_room_event_path, class: "btn btn-default" %></button></td>
        <td><%= link_to 'Edit', edit_campus_room_event_path(event), class: "btn btn-default" %></td>
        <td><%= link_to 'Destroy', campus_room_event_path, class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %></td>
       </tr>
       <% end %>
      </tr>
    </tbody>

</div>
