<h1>Show Event</h1>
<% if current_user.admin == true %>
    <% event = @event %>
    <%= link_to 'PDF Report of page', campus_room_event_path(event.campus, event.room, event, format: :pdf), class: "btn btn-default not-pdf-friendly pull-right" %>
<% end %>

<%= link_to 'Edit', edit_campus_room_event_path(@event.campus, @event.room, @event), class: "btn btn-default not-pdf-friendly" %>
<%= link_to 'Back', campus_room_events_path(@event.campus, @event.room), class: "btn btn-default not-pdf-friendly" %>
<div class="row">
  <div class = 'description col-xs-12 col-sm-8 col-md-8'>
    <h2><strong>Name: <%= @event.name %> | Event Details:</strong></h2>
    <p><strong>Start time:</strong> <%= @event.formatted_start_time %></p>
    <p><strong>Duration:</strong> <%= @event.formatted_event_duration %></p>
    <p><strong>Description:</strong> <%= @event.description %></p>
    <p><strong>Agenda:</strong> <%= @event.agenda %></p>
    <p><strong> Event Type: </strong> <%= if @event.is_private? then "Private" else "Public" end %> </p>
    <% if @event.is_private? %>
      <p><strong>Invite Type:</strong> <%= @event.invite_type %>
    <% end %>
    <p><strong> Allow Remote Attendance: </strong> <%= if @event.allow_remote then "Yes" else "No" end %> </p>

    <p><strong>Room Name:</strong> <%= @event.room.name.titleize %></p>
    <p><strong>Event created by:</strong></p>
    <p><%= @event.user.full_name.titleize %></p>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4">
    <h2 class="not-pdf-friendly"><strong>Invite List </strong></h2>
    <%= react_component('InvitesContainer') %>
  </div>
</div>
  <hr />
  <% if current_user == @event.user %>
    <%= react_component('EventInvites', users: @users, event_id: @event.id) %>
  <% end %>
<div class='not-pdf-friendly'>
  <div id="join-event" class='not-pdf-friendly'>
    <% if current_user && current_user.invites.where(event_id: @event.id).count.zero? %>
      <%= link_to "Join Event", "/invites?invite[status]=Accepted&invite[event_id]=#{@event.id}&invite[user_id]=#{current_user.id}", method: :POST, class: "btn btn-default not-pdf-friendly" %>
    <% end %>
  </div>

  <hr />
  <h3>Comments</h3>
  <%= react_component('CommentForm', user: current_user,
                                     campus_id: @campus.id,
                                     room_id: @room.id,
                                     event_id: @event.id) %>
  <hr />

  <div class="container not-pdf-friendly" id="comments-container">
    <%= react_component('CommentsContainer') %>

  </div>
</div>
