<h1>Show Event</h1>

<%= link_to 'Edit', edit_campus_room_event_path(@event.campus, @event.room, @event), class: "btn btn-default" %> |
<%= link_to 'Back', campus_room_events_path(@event.campus, @event.room), class: "btn btn-default" %>
<div class="row">
  <div class = 'description col-xs-12 col-sm-8 col-md-8'>
    <h2><strong>Name: <%= @event.name %> | Event Details:</strong></h2>
    <p><strong>Start time:</strong> <%= @event.formatted_start_time %></p>
    <p><strong>Duration:</strong> <%= @event.formatted_event_duration %></p>
    <p><strong>Description:</strong> <%= @event.description %></p>
    <p><strong>Agenda:</strong> <%= @event.agenda %></p>
    <p><strong> Event Type: </strong> <%= if @event.is_private? then "Private" else "Public" end %> </p>
    <% if @event.is_private? %>
      <p><strong>Invite Type:</strong> <%= @event.invite_type %>
    <% end %>
    <p><strong> Allow Remote Attendance: </strong> <%= if @event.allow_remote then "Yes" else "No" end %> </p>

    <p><strong>Room Name:</strong> <%= @event.room.name.titleize %></p>
    <p><strong>Event created by:</strong></p>
    <p><%= @event.user.full_name.titleize %></p>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4">
    <h2><strong>Invite List </strong></h2>
    <%= react_component('InvitesContainer') %>
  </div>
</div>
<hr />
<% if user_can_invite? %>
  <%= react_component('EventInvites', users: @users, event_id: @event.id) %>
<% end %>

<div id="join-event">
  <%= get_join_buttons %>
</div>

<hr />
<h3>Comments</h3>
<%= react_component('CommentForm', user: current_user,
                                   campus_id: @campus.id,
                                   room_id: @room.id,
                                   event_id: @event.id) %>
<hr />

<div class="container" id="comments-container">
  <%= react_component('CommentsContainer') %>

</div>
