<h1>Add a New Room</h1>
<h2> Current Campus: <%=@campus.id%> </h2>
<hr />
  <%= bootstrap_form_for([@campus, @room], class: 'form') do |f| %>
    <%= f.text_field :name, class: 'form-control' %>
    <%= f.hidden_field :campus_id, :value => @campus.id %>
    <%= f.text_field :location, class: 'form-control' %>
    <%= f.number_field(:capacity, in: 1..30) %>
    <%= f.submit %>
  <% end %>
