<h1>Viewing a room</h1>
<%= attachment_image_tag(@room, :profile_image, :fill, 150, 150, format: "jpg", fallback: 'room.jpg', class:"camp-picture") %>
<%=@room.name%>
<hr>
<%=@room.location%>
<hr>
<%=@room.capacity%>
<hr>
<div>
  <h4>List of Amenities</h4>
  <% @room.amenities.each do |amenity| %>
  <p><%= amenity.name %></p>
  <% end %>
</div>


<div><%= link_to 'Create New Event', new_campus_room_event_path(@room.campus, @room) %></div>

<% @room.events.each do |event| %>
  <%= link_to event.name, campus_room_event_path(@room.campus, @room, event) %> <br>
<% end %>
