<%= bootstrap_form_for @campus do |f| %>
  <% if @campus.errors.any? %>
      <h2><%= pluralize(@campus.errors.count, "error") %> prohibited this campus from being saved:</h2>
      <ul>
      <% @campus.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.text_field :name %>
    <%= f.text_field :city %>
    <%= f.text_field :state %>
    <%= f.text_field :zip %>
    <%= f.attachment_field :profile_image %>
    <%= f.submit %>
<% end %>
