<h1>Listing Events for <%= "#{@campus.name}" %></h1>
<% if current_user.admin == true %>
    <a class='btn btn-default not-pdf-friendly pull-left' href='/campuses/<%= "#{@campus.id}" %>/events.pdf'>PDF Report of page</a>
    <a class='btn btn-default not-pdf-friendly pull-left' href='/campuses/<%= "#{@campus.id}" %>/events.csv'>Spreadsheet report of page</a>
<% end %>

<div class="better-row">
  <div class='pending-events-display campus-event-box col-md-12 col-md-offset-0'>
    <h4 class='pending-events-header'></h4>
    <ul class='pending-events-display-list'>
      <div class='better-row room-show-bottom-spacer'>
        <li class='pending-events-display-list-item'>
          <div class='col-xs-2'>
            <h5><strong>Name </strong></h5>
          </div>
          <div class='agenda-text col-xs-2 '>
            <h5><strong>Start Time </strong></h5>
          </div>
          <div class='time-display col-xs-2'>
            <h5><strong>Description </strong></h5>
          </div>
          <div class='col-xs-2'>
            <h5><strong>Room </strong></h5>
          </div>
          <div class=' col-xs-2'>
            <h5><strong>User </strong></h5>
          </div>
          <div class='col-xs-2'>
            <% if current_user.admin == true %>
            <h5>Edit </h5>
            <h5>Delete </h5>
            <% end %>
          </div>
        </li>
      </div>
      <% @campus_events.each do |event| %>
          <div class='better-row room-show-bottom-spacer'>
            <li class='pending-events-display-list-item'>
              <div class='col-xs-2'>
                <%= link_to "#{event.name}", campus_room_event_path(event.campus, event.room, event) %>
              </div>
              <div class='time-display col-xs-2'>
                <%= event.formatted_start_time %> until <%= event.end_time %>
              </div>
              <div class='col-xs-2'>
                <%= event.description %>
              </div>
              <div class='col-xs-2'>
                <%= event.room.name %>
              </div>
              <div class='col-xs-2'>
                <%= event.user.username %>
              </div>
              <div class='col-xs-2'>
                <% if current_user.admin == true %>
                <%= link_to 'Edit Event Details', edit_campus_room_event_path(event.campus, event.room, event), class: "btn btn-default btn-custom not-pdf-friendly" %>
                <%= link_to 'Delete Event', campus_room_event_path(event.campus, event.room, event), class: "btn btn-default btn-custom not-pdf-friendly", method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </div>
            </li>
          </div>
        <% end %>
    </ul>
  </div>
</div>
