<p id="notice"><%= notice %></p>
</br>
</br>
</br>
<h3>
  <strong>Campus:</strong>
  <%= @campus.name %>
  <img src="<%= @campus.picture_url %>"></img>
</h3>

  <div>
    <% @rooms.each do |room| %>
          <div>
            <h4>Room: <%= room.name %></h4>
            <img src="<%= room.picture_url %>"></img>
          </br>
            <p>Location: <%= room.location %></p>
            <p>Capacity: <%= room.capacity %></p>
            <p>Events Count: <%= room.events_count %></p>
            <p>Average Capacity Use: <%= room.average_capacity_use %></p>
            <p><%= link_to 'Show', campus_room_path(@campus, room.id) %></p>
          </br>
          </br>
          </div>
      <% end %>
  </div>

<%= link_to 'Back', campuses_path %>
