
<div class="container">
  <p id="notice"><%= notice %></p>
</div>

</br>

<div class="row">
  <div class="pending-events-display col-md-8 col-md-offset-1">
    <h3>
      <strong>Campus:</strong>
      <%= @campus.name %>
    </h3>
    <div class="col-md-2 col-md-offset-1">
        <img src="<%= @campus.picture_url%>"></img>
    </div>
      <%= link_to 'Create New Room', new_campus_room_path(@campus) %>
  </div>

</div>









  <div class="row">

    <% @rooms.each do |room| %>
          <div class="pending-events-display col-sm-5 col-md-offset-1"
            <h4>Room: <%= room.name %></h4>
            <img src="<%= room.picture_url %>"></img>

            <p>Location: <%= room.location %></p>
            <p>Capacity: <%= room.capacity %></p>
            <p>Events Count: <%= room.events_count %></p>
            <p>Average Capacity Use: <%= room.average_capacity_use %></p>
            <p><%= link_to 'Show', campus_room_path(@campus, room.id) %></p>

          </div>
      <% end %>
  </div>

<%= link_to 'Back', campuses_path %>
