
<div class='small-continer'>
  <%= bootstrap_form_for @user do |f| %>
    <%= f.text_field :username %>
    <%= f.text_field :email %>
    <%= f.text_field :name %>
    <%= f.text_field :phone_num %>
    <%= f.text_field :profile_pic %>
    <%= f.password_field :password %>
    <%= f.password_field :password_confirmation %>
    <%= f.submit "Create User"%>
  <% end %>
</div>
