<!DOCTYPE html>
<html>
<head>
  <title>Spacebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if current_user != nil %>
  <style>
    .navbar {
      background: <%= current_user.company.primary_color %>;
    }
    body {
      background-color: <%= current_user.company.secondary_color %>;
    }
    footer {
      background-color: <%= current_user.company.primary_color %>;
    }
    #all_footnotes {
      background-color: <%= current_user.company.primary_color %>;
    }
  </style>
  <% end %>
</head>
<body>

  <nav class='navbar navbar-default navbar-fixed-top'>
    <div class="container-fluid">
      <% if signed_in? %>
      <%= link_to current_user.company.name, root_path, class: "navbar-brand" %>
      <small class="navbar-brand parent-brand"> Powered by SpaceBook </small>
      <% else %>
      <%= link_to "SpaceBook", root_path, class: "navbar-brand" %>
      <% end %>
          <div class="nav navbar-nav navbar pull-right row">
            <% if signed_in? %>
            <div class='row'>
              <div class= "col-xs-3 col-xs-offset-1"> <%= link_to "Rooms", campus_rooms_path(current_user.campus), class: "nav-link" %> </div>
              <div class='col-xs-3'><a class= "nav-link" href='/campuses/<%= "#{current_user.campus.id}" %>/events'>Events</a></div>
              <div class= "col-xs-5"> <%= link_to 'Sign out', sign_out_path, method: :delete, class: "nav-link" %> </div>
            </div>
            <% else %>
              <div class= "col-xs-6"> <%= link_to "Sign In", sign_in_path, class: "nav-link" %> </div>
              <div class= "col-xs-6"> <%= link_to "Sign Up", new_user_path, class: "nav-link" %> </div>
            <% end %>
          </div>
    </nav>

  <div class="container">

    <% flash.each do |message_type, message| %>
       <div class="alert alert-<%= message_type%>" id = "flash">
         <%= message %>
       </div>
    <% end %>

    <%= yield %>

  </div>
  <footer>
    <div id="footnotes_holder"></div>
  </footer>
</body>
</html>
